<h1>Welcome to My Awesome Site, <%= @user.user_name %>!</h1>
<p>
  You have successfully signed up to our site.
</p>
<p>
  To login, click the link below:
</p>
<p>
  <%= link_to 'Login', @url %>
</p>
