main > .mx-auto {
  line-height: 1.8;
  font-size: 1.05rem;
  font-family:
    "Noto Serif JP", "BIZ UD明朝 Medium",
    "YuMincho", "Hiragino Mincho ProN", "serif";
}
@media (max-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-nav .nav-link {
  font-size: 0.95rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
@media (max-width: 576px) {
  body {
    font-size: 1.1rem; /* スマホでは17.6px */
  }
}