main > .mx-auto {
  line-height: 1.8;
  font-size: 1.05rem;
  font-family:
    "Noto Serif JP", "BIZ UD明朝 Medium",
    "YuMincho", "Hiragino Mincho ProN", "serif";
}
@media (max-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



.navbar-nav .nav-link {
  font-size: 0.95rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
@media (max-width: 576px) {
  body {
    font-size: 1.1rem; /* スマホでは17.6px */
  }
}

.novel-card {
  transition: box-shadow 0.2s, background-color 0.2s;
}
.novel-card:hover {
  background-color: #f8f9fa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.content-body {
  max-width: 45em;
  white-space: normal;
  word-break: break-all;
  margin: 0 auto;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}