.font-koburi      { font-family: "Koburimincho", "serif"; }
.font-yu          { font-family: "YuGothic", "游ゴシック体", sans-serif; }
.font-ms          { font-family: "MS Mincho", "serif"; }
.font-hiragino    { font-family: "Hiragino Kaku Gothic ProN", sans-serif; }
.font-shippori    { font-family: "Shippori Mincho", serif; }
.font-noto-serif  { font-family: "Noto Serif JP", serif; }
.font-default     { font-family: serif; }
